{% extends 'base.html' %}
{% block title %}
Film: {{ object.title }}
{% endblock %}

{% block content %}

{% autoescape on %}
<h1>{{ object.title }}</h1>
({{ object.genre }}) {{ object.released }}<br><br>
{{ object.description | linebreaks }} <br><br>
Rating - {{ object.rating }}/10
<br><br>
<!--{{ list | join:"-&#45;&#45;^-&#45;&#45;" }}-->
<!--{{ list | length }}-->
<!--<br>-->
<!--{{ list | slice:":5" }}-->
<br>
{% endautoescape %}
<a href="{% url 'viewer:movie_update' movie.id %}" class="btn btn-success">Update</a>
<a href="{% url 'viewer:movie_delete' movie.id %}" class="btn btn-danger">Delete</a>
{% endblock %}
